.text-style {
  text-decoration: none;
  color: black;
}

.text-style:hover {
  text-decoration: none;
  color: #5555ab;
}

.text-style-fullscrn {
  background-color: #5555ab;
}
.shiv{
 display: flex;
justify-content: center;
align-items: center;  
padding-left: 150px;
}

.logo{
  width: 70px;
  height: 70px;
  margin: 4px;
}